# Introduction

This is my first day.

I am excited to learn python.
I am happy that i am about to start.

# IN PYTHON EVERYTHING IS AN OBJECT.

In [2]:
1+2

3

In [3]:
5*2

10

In [4]:
10-5

5

In [13]:
10/5

2.0

 Integer: without decimal
Float:   with decimal

In [6]:
10//5

2

// means integer division.

In [9]:
10//3

3

In [10]:
3+5*9/3   #Follows BODMAS

18.0

In [12]:
3**2

9

string: anything that is written inside " " or ' '.

In [15]:
"hello chandru"

'hello chandru'

In [16]:
'Hello PP'

'Hello PP'

In [17]:
print(2)

2

In [18]:
print(2.5)

2.5

In [20]:
print('a')

a

In [22]:
print('x+y')

x+y

In [23]:
print(2**2)

4

In [24]:
print(2+5*4)

22

In [25]:
"Hello world"

'Hello world'

In [26]:
print("Hello world")

Hello world

In [28]:
print(2)
print(4.2)
print("a")

2
4.2
a

# Concatenate: joining two data of same type

In [29]:
4+2

6

In [33]:
"2+s"

'2+s'

In [41]:
print("My name is "+"Ashok")

My name is Ashok

Integer
Float
String
Concatenation